<launch>
<arg name="name" default="CROOKSHANKS" />
<arg name="intermittent" default="false"/>
<arg name="cage_only" default="false" />
    
<node name="pixhawk_xform" type="pixhawk_xform" pkg="pixhawk_xform" output="screen" args="$(arg name) $(arg intermittent) $(arg cage_only)"/>

<remap to="/pixhawk_xform/pose_stamped" from="mavros/fake_gps/mocap/pose"/>
    
<include file="$(find pixhawk_xform)/launch/apm.launch">    
  <arg name="fcu_url" value="/dev/ttyUSB0:921600?ids=255,240"/>
</include>
    
<node pkg="rosservice" type="rosservice" name="setter" args="call --wait /mavros/set_stream_rate 0 100 1" />

</launch>
